<div class="container-fluid" style="background:rgb(10, 10, 78)">
        
    <h1 class="text-center" style="color:white;">About Us</h1>
    <div class="row">
            <div class="col-md-3"></div><div class="col-md-6"><hr style="background:white;"></div><div class="col-md-3"></div>
    </div>
 </div>
    <div class="container-fluid" style="background:rgb(10, 10, 78)" >
        <div class="container">
            <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">


                            <p style="color:white;font-size:3ex;">Our main idea is provide a platform where User can post his house  and interact with the customer to give home for rent.
                                    Book

                                    You will Be suggested with all the houses.At this site you can book your favorite home in nearby or in other places.Unlock

                                    After the Booking on your required date .You can Contact the Ownerand visit the place and take the key of house.Stay & Enjoy

                                    You are provided with all the facilities that you have choosen for.Stay for the period you have booked the home.Return

                                    After the period of booking is finished you can extend the period if it is idle.Return the things back provided Safely to Onwer.
                            </p>




                    </div>
                    <div class="col-md-1"></div>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                        <h2 class="text-center" style="color:white;">Our Approach</h2>
                        <hr style="background:white;">
                        <br>
                        <img class="mx-auto d-block" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSPBdTFvPIb8D8JrCwQUhHHerxdsJ-30rq5LfwiqQwiNrikzLTU" width="90%" height="350sp">
                </div>
                <div class="col-md-6 center">
                        <h2 class="text-center" style="color:white;">Our Team</h2>
                        <hr style="background:white;">
                        <br>
                        <img  class="mx-auto d-block" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT8q1UArcS-gJeZ13fcCmxU9nAw_VFtS5LSmbyyNCFNDs-eOizO" width="90%" height="350sp">
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
